<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.project2nd.board.BoardMapper">

    <insert id="postFeed" useGeneratedKeys="true" keyProperty="boardSeq">
        INSERT INTO party_board_master
        SET board_party_seq = #{boardPartySeq}
        ,board_member_seq = #{boardMemberSeq}
        ,board_title = #{boardTitle}
        ,board_contents = #{boardContents}
    </insert>
    <insert id="postFeedPics">
        INSERT INTO party_board_pics (board_seq, file_name)
        VALUES
        <foreach collection="fileNames" item="fileName" separator=",">
            (#{boardSeq}, #{fileName})
        </foreach>
    </insert>


</mapper>