<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.project2nd.budget.BudgetMapper">

    <insert id="postBudget" keyProperty="budgetSeq" useGeneratedKeys="true">
        INSERT INTO party_budget
        SET budget_party_seq = #{budgetPartySeq},
            budget_member_seq = #{budgetMemberSeq},
            budget_gb = #{budgetGb},
            budget_amount = #{budgetAmount},
            budget_dt = #{budgetDt},
            budget_text = #{budgetText},
            budget_pic = #{budgetPic}
    </insert>

    <update id="patchBudget">
        UPDATE party_budget
        <set>
            <if test="budgetMemberSeq!=null and budgetMemberSeq!='' and budgetMemberSeq > 0">
                budget_member_seq = #{budgetMemberSeq},
            </if>
            <if test="budgetGb!=null and budgetGb!='' and budgetGb > 0">
                budget_gb = #{budgetGb},
            </if>
            <if test="budgetAmount!=null and budgetAmount!='' and budgetAmount > 0">
                budget_amount = #{budgetAmount},
            </if>
            <if test="budgetDt!=null and budgetDt!=''">
                budget_dt = #{budgetDt},
            </if>
            <if test="budgetText!=null and budgetText!=''">
                budget_text = #{budgetText},
            </if>
            <if test="budgetPic!=null and budgetPic!=''">
                budget_pic = #{budgetPic},
            </if>
            <if test="budgetDt!=null and budgetDt!=''">
                budget_dt = #{budgetDt},
            </if>
        </set>
        WHERE budget_seq = #{budgetSeq}
    </update>

    <select id="getBudget">
        SELECT A.budget_seq AS budgetSeq, A.budget_party_seq AS budgetPartySeq, A.budget_member_seq AS budgetMemberSeq,
            A.budget_gb AS budgetGb, B.CD_GB_NM AS cdNm, A.budget_amount AS budgetAmount, A.budget_dt AS budgetDt,
            A.budget_text AS budgetText, A.budget_pic AS budgetPic
        FROM party_budget A
        JOIN common_cd B
        ON A.budget_gb = B.cd_gb
        WHERE A.budget_party_seq = #{budgetPartySeq}
        AND B.cd_main = 'BU'
    </select>

    <select id="getBudgetPic">
        SELECT budget_seq AS budgetSeq, budget_pic AS budgetPic
        FROM party_budget
        WHERE budget_seq = #{budgetSeq}
    </select>

    <delete id="deleteBudget">
        DELETE
        FROM party_budget
        WHERE budget_seq = #{budgetSeq}
    </delete>

    <select id="getBudgetMember">
        SELECT COUNT(B.member_seq) AS memberSum, COUNT(CASE WHEN A.budget_gb = 1 THEN A.budget_member_seq END) AS depositedMember,
                (COUNT(B.member_seq) - COUNT(CASE WHEN A.budget_gb = 1 THEN A.budget_member_seq END)) AS unDepositedMember
        FROM party_budget A
        JOIN party_member B
        ON A.budget_party_seq = B.member_party_seq
        WHERE A.budget_party_seq = #{budgetPartySeq}
        AND A.budget_dt LIKE '2024-${month}%'
    </select>
    
    <select id="getBudgetMonthly">
        SELECT SUM(CASE WHEN budget_gb = 1 THEN budget_amount END) AS depositSum, SUM(CASE WHEN budget_gb = 2 THEN budget_amount * (-1) END) AS withdrawSum,
                SUM(CASE WHEN budget_gb = 1 THEN budget_amount END) + SUM(CASE WHEN budget_gb = 2 THEN budget_amount * (-1) END) AS sum
        FROM party_budget
        WHERE budget_party_seq = #{budgetPartySeq}
        AND budget_dt LIKE '2024-${month}%'
    </select>

</mapper>