<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.project2nd.plan.PlanMapper">
    <insert id="postPlan" keyProperty="planSeq" useGeneratedKeys="true">
        INSERT INTO plan_master
        SET plan_party_seq = #{planPartySeq},
            plan_start_dt = #{planStartDt},
            plan_start_time = #{planStartTime},
            plan_title = #{planTitle},
            plan_contents = #{planContents}
    </insert>
    
    <update id="patchPlan">
        UPDATE plan_master
        <set>
        <if test="planStartDt!=null and planStartDt!=''">
            plan_start_dt = #{planStartDt},
        </if>
        <if test="planStartTime!=null and planStartTime!=''">
            plan_start_time = #{planStartTime},
        </if>
        <if test="planTitle!=null and planTitle!=''">
            plan_title = #{planTitle},
        </if>
        <if test="planContents!=null and planContents!=''">
            plan_contents = #{planContents}
        </if>
        </set>
        WHERE plan_seq = #{planSeq}
    </update>

    <update id="patchPlanCompleted">
        UPDATE plan_master
        SET plan_completed = 2
        WHERE plan_seq = #{planSeq}
        AND plan_completed = 1
    </update>
    
    <select id="getPlanAll">
        SELECT A.plan_seq AS planSeq, A.plan_party_seq AS planPartySeq, A.plan_start_dt AS planStartDt,
                A.plan_start_time AS planStartTime, A.plan_completed AS planCompleted, B.CD_GB_NM AS cdNm,
                A.plan_title AS planTitle, A.plan_contents AS planContents
        FROM plan_master A
        JOIN common_cd B
        ON A.plan_completed = B.cd_gb
        WHERE plan_party_seq = #{planPartySeq}
        AND B.cd_main = 'PC'
    </select>

    <select id="getPlan">
        SELECT A.plan_seq AS planSeq, A.plan_party_seq AS planPartySeq, A.plan_start_dt AS planStartDt,
                A.plan_start_time AS planStartTime, A.plan_completed AS planCompleted, B.CD_GB_NM AS cdNm,
                A.plan_title AS planTitle, A.plan_contents AS planContents
        FROM plan_master A
        JOIN common_cd B
        ON A.plan_completed = B.cd_gb
        WHERE plan_seq = #{planSeq}
        AND B.cd_main = 'PC'
    </select>

    <select id="getPlanMember">
        SELECT A.plan_seq AS planSeq, B.plmember_member_seq AS plmemberMemberSeq
        FROM plan_master A
        JOIN plan_member B
        ON A.plan_seq = B.plmember_plan_seq
        WHERE A.plan_seq = #{planSeq}
    </select>
    
    <delete id="deletePlan">
        DELETE
        FROM plan_master
        WHERE plan_seq = #{planSeq}
    </delete>
</mapper>